<!doctype html>
<html ng-app="datepickerApp" ng-cloak>
<head>
    <meta charset="utf-8">
    <title>Datepicker</title>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/dist/am-date-picker.min.css">
</head>

<body ng-controller="MainCtrl">
    <div layout-fill layout="row" layout-align="center center">
        <div layout="column">

            <div id="linked_pickers">
                <am-date-picker ng-model="minDate"
                                am-today-button="today"
                                am-max-date="maxDate">
                </am-date-picker>

                <am-date-picker ng-model="maxDate"
                                am-today-button="сегодня"
                                am-locale="ru"
                                am-min-date="minDate">
                </am-date-picker>
            </div>
        </div>
    </div>

    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <script src="/dist/am-date-picker.min.js"></script>

    <script>
        angular
            .module('datepickerApp', [
                'ngMaterial',
                'am.date-picker',
            ])
            .controller('MainCtrl', ['$scope',
                function ($scope) {
                    $scope.minDate = new Date();
                    $scope.maxDate = new Date();
                }
            ]);
    </script>

</body>
</html>
